body
{
    margin: 0%;
}
.hero
{
    width: 100%;
    background-image: url("../static/img/night-mountain1.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.navMenu
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.navMenu li
{
    display: inline-block;
    padding-right: 4.16666666666667%;
}
.navMenu ul
{
    padding-left: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style: none;
    margin: 0%;
    padding-top: 25px;
}
.navMenu a 
{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

}
.navMenu li:first-child
{
    text-decoration: underline;
}
.navMenu li:last-child
{
    padding: 0%;
}
.mainTitle
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 110px;
    padding-top: 61.88vh;
    margin: 0%;
}
.mainTitle span
{
    text-decoration: underline;
    font-style: italic;
}
.col10
{
    width: 61.80555555555556%;
    margin-left: auto;
    margin-right: auto;
}
.col8
{
    width: 49.30555555555556%;
    margin-left: auto;
    margin-right: auto;
}
.articleIntro h2
{
    margin-top: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 62px;

    color: #464646;
    margin-bottom: 30px;
}
.author img
{
    margin: 0%;
    border-radius: 210px;
}
.author h3
{
    margin-top: 10px;
    font-family: Crimson Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;

    color: #464646;
    margin-bottom: 0%;
}
.author h3 span
{
    font-weight: 700;
}
.articleImg
{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0%;
}
.col3right
{
    margin-right: 25.23364485981308%;
}

.articleContent *
{
    font-family: Crimson Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */

    text-align: left;

    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.articleContent ol
{
    padding-left: 0%;
}
.articleContent li
{
    margin: 0%;
}
.articleContent p:first-child
{
    margin-top: 60px;
}
.articleContent p:last-child
{
    margin-bottom: 0px;
}
.socialLink h4
{
    margin-top: 102px;
    text-align: right;
    font-family: Crimson Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height, or 123% */

    color: #000000;
    margin-bottom: 0%;
}
.socialLink ul
{
    margin-top: 25px;
    list-style: none;
    padding-left: 0%;
    margin-bottom: 0%;
    text-align: right;
    width: 100%;
    align-items: right;
}
.socialLink li
{
    align-items: right;
    height: 18px;
    display: inline-block;
}
.credits p
{
    padding-top: 18px;
    margin-top: 74px;
    margin-bottom: 18px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    border-top: #000000 solid 1px;
}
.col4
{
    margin: 0 auto;
    width: 32.33644859813084%;
}