* {
    margin: 0;
    box-sizing: border-box;
}

#topMenu {
    width: 100%;
    background-color: #223c2280;
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    transition: all 1s ease-in-out;
}

#aside {
    position: fixed;
    top: 150px;
    left: 0;
    background-color: rgba(255, 0, 0, 0.5);
    min-height: calc(100vh - 150px);
    width: 50%;
    transition: all 1s ease-in-out;
}

#content {
    margin-top: 150px;
    margin-left: 50%;
    background-color: rgba(0, 0, 255, 0.5);
    min-height: calc(100vh - 150px);
    transition: all 1s ease-in-out;
}

.flex
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navMenu ul
{
    padding: 55px;
    list-style: none;
}

.navMenu a
{
    color: black;
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.navMenu li
{
    display: inline-block;
    margin: 0 15px;
}

.navMenu li:last-child
{
    margin-right: 0;
}

#content p {
    font-size: 22px;
    line-height: 1.5;
}

.hamburger {
    display: block;
    width: 45px;
    height: 35px;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 10;
}

.hamburger .whiteLine {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
}

.hamburger .whiteLine::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: -17px;
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
}

.hamburger .whiteLine::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 17px;
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
}

.hamburger.open .whiteLine {
    background-color: rgba(0, 0, 0, 0);
    transition: all 1s ease-in-out;
}

.hamburger.open .whiteLine::before {
    transform: translateY(50%) rotate(45deg);
    top: 0%;
    transition: all 1s ease-in-out;
}


.hamburger.open .whiteLine::after {
    transform: translateY(50%) rotate(-45deg);
    top: 0;
    transition: all 1s ease-in-out;
}

body.open #aside 
{
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
}

body.open #topMenu
{
    transform: translateY(-100%);
    transition: all 1s ease-in-out;
}

body.open #content
{
    margin-left: 0;
    margin-top: 0;
    transition: all 1s ease-in-out;
    min-height: 100vh;
}